{% extends 'base.html' %}
{% block content %}

<center>
<h2>Registration Form</h2>
<div class="transbox">
	<form action="putTeacherData" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="form-group row">
    <label for="teacher_first_name" class="col-sm-4 col-form-label"><strong>First Name</strong></label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="teacher_first_name" name="teacher_first_name" required>
    </div>
  </div>
	
	<div class="form-group row">
    <label for="teacher_Middle_name" class="col-sm-4 col-form-label"><strong>Middle Name</strong></label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="teacher_middle_name" name="teacher_middle_name" required>
    </div>
  </div>
	
	<div class="form-group row">
    <label for="teacher_last_name" class="col-sm-4 col-form-label"><strong>Last Name</strong></label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="teacher_last_name"  name="teacher_last_name"required>
    </div>
  </div>
  
  <div class="form-group row">
    <label for="teacher_email" class="col-sm-4 col-form-label"><strong>Email</strong></label>
    <div class="col-sm-6">
      <input type="email" class="form-control" id="teacher_email" name="teacher_email" required>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputPassword" class="col-sm-4 col-form-label"><strong>Password</strong></label>
    <div class="col-sm-6">
      <input type="password" class="form-control" id="inputPassword" name="teacher_password" required>
    </div>
  </div>

	<div class="form-group row">
    <label for="teacher_dob" class="col-sm-4 col-form-label"><strong>Birth Date</strong></label>
    <div class="col-sm-6">
      <input type="date" class="form-control" id="teacher_dob" name="teacher_dob" required>
    </div>
  </div>
	
	<div class="form-group row">
    <label for="teacher_gender" class="col-sm-4 col-form-label"><strong>Gender</strong></label>
    <div class="col-auto">
		<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="teacher_gender" id="teacher_gender" value="Male">
  <label class="form-check-label" for="teacher_gender"><strong>Male</strong></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="teacher_gender" id="teacher_gender" value="Female">
  <label class="form-check-label" for="teacher_gender"><strong>Female</strong></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="teacher_gender" id="teacher_gender" value="Other">
  <label class="form-check-label" for="teacher_gender"><strong>Other</strong></label>
</div>
	</div>
	</div>
	
	

	
  
  
  <div class="form-group row">
    <label for="teacher_address" class="col-sm-4 col-form-label"><strong>Address</strong></label>
	<div class="col-sm-6">
    <input type="text" class="form-control" id="teacher_address" placeholder="1234 Main St" name="teacher_address" required>
  </div>
  </div>
  
  <div class="form-group row">
    <label for="teacher_address2" class="col-sm-4 col-form-label"><strong>Address 2</strong></label>
	<div class="col-sm-6">
    <input type="text" class="form-control" id="teacher_address2" placeholder="Apartment, studio, or floor" name="teacher_address2" required>
  </div>
  </div>
  
  <div class="form-group row">
  
    <div class="form-group col-sm-4">
      <label for="teacher_city" class="col-md-6 col-form-label"><strong>City</strong></label>
	  <div class="col-md-6">
      <input type="text" class="form-control" id="teacher_city" name="teacher_city" required>
    </div>
	</div>
	
    <div class="form-group col-sm-4">
      <label for="teacher_state" class="col-md-6 col-form-label"><strong>State</strong></label>
	  <div class="col-md-6">
      <input type="text" id="teacher_state" class="form-control" name="teacher_state" required>
    </div>
	</div>
	
    <div class="form-group col-sm-4">
      <label for="teacher_zip" class="col-md-6 col-form-label"><strong>Zip</strong></label>
	  <div class="col-md-6">
      <input type="text" class="form-control" id="teacher_zip" name="teacher_zip">
    </div>
	</div>
  </div>
  
  <div class="form-group row">
    <label for="teacher_mobile_no" class="col-sm-4 col-form-label"><strong>Mobile No.</strong></label>
	<div class="col-sm-6">
    <input type="text" class="form-control" id="teacher_mobile_no" name="teacher_mobile_no" required>
  </div>
  </div>
  
  <div class="form-group row">
    <label for="teacher_id_no" class="col-sm-4 col-form-label"><strong>Id No.</strong></label>
	<div class="col-sm-6">
    <input type="text" class="form-control" id="teacher_id_no" name="teacher_id_no" required>
  </div>
  </div>
  
  <div class="form-group row">
    <label for="teacher_image" class="col-sm-4 col-form-label"><strong>Upload Image</strong></label>
	<div class="col-sm-6">
    <input type="file" class="form-control-file" id="teacher_image" name="teacher_image" required>
  </div>
  </div>
  
  <button type="submit" class="btn btn-dark">Submit</button>
  
  </form>
  </div>
</center>







	<br><div class="container">
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
  			<strong>Holy guacamole!</strong> You should check in on some of those fields below.
  			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
  			</button>
		</div>
	</div>
	{%endblock%}

